#nav-wrapper{
     font-size: 600px;
}

body {
    background-image: url(silvestri-matteo-6-C0VRsagUw-unsplash.jpg);
    background-color: #cccccc;
   }


header {
    font-size: xx-large;
}

#cssHook {
    font-size: 100px;
    font-weight: bolder;
    color: black;
}